<div class="card mb-4 shadow">
  <img [src]="product.image" class="card-img-top" [alt]="product.id">

  <div class="card-body">
    <h5 class="card-id">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="fw-bold">{{ product.price }} €</p>
    <span class="badge bg-secondary">{{ product.category }}</span>
  </div>

  <div class="card-footer text-center">
    <button class="btn btn-warning btn-sm me-2">Editar</button>
    <button class="btn btn-danger btn-sm">Eliminar</button>
    <button class="btn btn-light btn-sm">Descripcion</button>
    <button class="btn btn-success w-100"(click)="addToCart()"[disabled]="!product.active">Añadir al carrito</button>
  </div>
</div>
