:host{
  display: contents;
}

/* Botones */
button{
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: large;
}

/* Contenedor Cantidad de productos */
input{
  width: 40px;
  height: 40px;
  padding-left: 15px;
  border: none;
}

