<div class="container-fluid mt-4">
  <div class="row">

    <!-- Formulario de redacción -->
    <div class="col-md-4 ">
      <h2>Redactar noticia</h2>
      <input type="text" placeholder="Título" [(ngModel)]="nuevaNoticia.title" class="form-control bg-light mb-2">
      <input type="url" placeholder="Url" [(ngModel)]="nuevaNoticia.image" class="form-control bg-light mb-2">
      <textarea placeholder="Contenido" [(ngModel)]="nuevaNoticia.content" class="form-control bg-light mb-2"></textarea>
      <input type="date" [(ngModel)]="nuevaNoticia.date" class="form-control mb-2 bg-light">
      <button (click)="new()" class="btn btn-primary ms-auto d-block bg-danger text-end border border-secondary">Publicar</button>

      <!-- Mensaje de error -->
      @if (mensajeError !== '') {
        <div class="alert alert-danger mt-3">
          {{ mensajeError }}
      </div>
      }
    </div>

    <!-- Lista de noticias -->
    <div class="col-md-8 text-center">
      <h2>Noticias</h2>

      @for (posts of blognew; track posts.date; let i = $index) {
        <div class="card mb-3">
          <div class="card-body">
            <h4>{{ posts.title }}</h4>
            <img [src]="posts.image" alt="Imagen" class="img-fluid mb-2">
            <p>{{ posts.content }}</p>
            <p class="text-muted">Publicado el: {{ posts.date }}</p>
          </div>
        </div>
      }

      @empty {
        <h3>No hay noticias publicadas en este momento</h3>
      }
    </div>

  </div>
</div>
