.hero {
    height: 50vh;
    background-color: #42ff62;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero2 {
    height: 50vh;
    background-color: #f5f5dc;
    display: flex;
    justify-content: center;
    align-items: center;
}
